<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSignIn(f)" #f="ngForm">
          <div class="mb-3">
            <label class="form-label" for="email">Mail</label>
            <input type="text" class="form-control" id="email" name="email" ngModel>
          </div>
          <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" ngModel>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">SignIn</button>
        </form>
      </div>
    </div>
  </div>
